Repository salute-developers/plasma-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: echo eslint --fix, echo prettier --write, echo stylelint, echo prettier --write --parser markdown, echo git add

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "echo eslint --fix",
        "echo prettier --write",
    ],
    "*.{jsx,tsx}": [
        "echo stylelint",
    ],
    "*.md": [
        "echo prettier --write --parser markdown",
        "echo git add"
    ]
}

chore: add Readme
  README.md
Due: echo prettier --write --parser markdown, echo git add

build: add linters
  .eslintrc.js
  .lintstagedrc
  .stylelintrc.js
  package-lock.json
  package.json
Due: echo eslint --fix, echo prettier --write

clean pepe package
  packages/pepe/.github/dependabot.yml
  packages/pepe/.github/workflows/automerge.yml
  packages/pepe/.github/workflows/failureNotifications.yml
  packages/pepe/.github/workflows/manualRelease.yml
  packages/pepe/.github/workflows/notify-slack-on-pr-open.yml
  packages/pepe/.github/workflows/onPushToMain.yml
  packages/pepe/.github/workflows/onRelease.yml
  packages/pepe/.github/workflows/test.yml
  packages/pepe/LICENSE
  packages/pepe/README.md
  packages/pepe/src/commands/time-travel.ts
Due: echo eslint --fix, echo prettier --write, echo prettier --write --parser markdown, echo git add

feat(pepe): add time-travel command
  packages/pepe/src/commands/find-dependents.ts
  packages/pepe/src/commands/report-dependents.ts
  packages/pepe/src/commands/time-travel.ts
  packages/pepe/src/utils.ts
  packages/pepe/test/commands/time-travel.test.ts
Due: echo eslint --fix, echo prettier --write

feat(pepe): add stats flag to report-dependents
  packages/pepe/src/commands/report-dependents.ts
  packages/pepe/src/utils.ts
Due: echo eslint --fix, echo prettier --write

Add pepe package
  packages/pepe/.editorconfig
  packages/pepe/.eslintignore
  packages/pepe/.eslintrc
  packages/pepe/.github/dependabot.yml
  packages/pepe/.github/workflows/automerge.yml
  packages/pepe/.github/workflows/failureNotifications.yml
  packages/pepe/.github/workflows/manualRelease.yml
  packages/pepe/.github/workflows/notify-slack-on-pr-open.yml
  packages/pepe/.github/workflows/onPushToMain.yml
  packages/pepe/.github/workflows/onRelease.yml
  packages/pepe/.github/workflows/test.yml
  packages/pepe/.gitignore
  packages/pepe/.mocharc.json
  packages/pepe/.vscode/launch.json
  packages/pepe/LICENSE
  packages/pepe/README.md
  packages/pepe/bin/dev
  packages/pepe/bin/dev.cmd
  packages/pepe/bin/run
  packages/pepe/bin/run.cmd
  packages/pepe/package.json
  packages/pepe/src/commands/find-dependents.ts
  packages/pepe/src/commands/merge-reports.ts
  packages/pepe/src/commands/report-dependents.ts
  packages/pepe/src/index.ts
  packages/pepe/src/utils.ts
  packages/pepe/test/commands/collect-reports.test.ts
  packages/pepe/test/commands/find-dependents.test.ts
  packages/pepe/test/commands/hello/index.test.ts
  packages/pepe/test/commands/hello/world.test.ts
  packages/pepe/test/commands/report-dependents.test.ts
  packages/pepe/test/helpers/init.js
  packages/pepe/test/tsconfig.json
  packages/pepe/tsconfig.json
Due: echo eslint --fix, echo prettier --write, echo prettier --write --parser markdown, echo git add

chore(pepe): update pkg-lock
  package-lock.json
Due: none

feat(pepe): rename to pepe-silvia
  package-lock.json
  packages/pepe/README.md
  packages/pepe/package.json
Due: echo prettier --write --parser markdown, echo git add

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/pepe/CHANGELOG.md
Due: echo prettier --write --parser markdown, echo git add

Bump version to: v0.1.0 [skip ci]
  lerna.json
  package-lock.json
  packages/pepe/package.json
Due: none

feat(pepe-silvia): add dateToTravel param
  packages/pepe/src/commands/time-travel.ts
Due: echo eslint --fix, echo prettier --write

Bump version to: v0.2.0 [skip ci]
  lerna.json
  package-lock.json
  packages/pepe/package.json
Due: none

build(pepe-silvia): temporary remove tests
  packages/pepe/test/commands/collect-reports.test.ts
  packages/pepe/test/commands/find-dependents.test.ts
  packages/pepe/test/commands/hello/index.test.ts
  packages/pepe/test/commands/hello/world.test.ts
  packages/pepe/test/commands/report-dependents.test.ts
  packages/pepe/test/commands/time-travel.test.ts
  packages/pepe/test/helpers/init.js
  packages/pepe/test/tsconfig.json
Due: echo eslint --fix, echo prettier --write

build: configure eslint
  package-lock.json
  package.json
  packages/pepe/.eslintrc
  packages/pepe/src/commands/find-dependents.ts
  packages/pepe/src/commands/merge-reports.ts
  packages/pepe/src/commands/report-dependents.ts
  packages/pepe/src/commands/time-travel.ts
  packages/pepe/src/index.ts
  packages/pepe/src/utils.ts
Due: echo eslint --fix, echo prettier --write

feat(pepe-silvia): add periods to merge-reports command
  packages/pepe/src/commands/merge-reports.ts
  packages/pepe/src/commands/report-dependents.ts
  packages/pepe/src/commands/time-travel.ts
  packages/pepe/src/utils.ts
Due: echo eslint --fix, echo prettier --write

Bump version to: v0.3.0 [skip ci]
  lerna.json
  package-lock.json
  packages/pepe/package.json
Due: none

feat(pepe-silvia): add send-report command
  package-lock.json
  packages/pepe/package.json
  packages/pepe/src/commands/send-report.ts
  packages/pepe/src/utils.ts
Due: echo eslint --fix, echo prettier --write

Bump version to: v0.4.0 [skip ci]
  lerna.json
  package-lock.json
  packages/pepe/package.json
Due: none

feat(pepe-silvia): wip collect components
  package-lock.json
  packages/pepe/package.json
  packages/pepe/patches/dependency-cruiser+11.3.1.patch
  packages/pepe/src/commands/find-components.ts
  packages/pepe/src/utils.ts
  patches/dependency-cruiser+11.3.1.patch
Due: echo eslint --fix, echo prettier --write

feat: Add cypress images for docker
  images/cypres9.4.1-amd64/Dockerfile
  images/cypres9.4.1-amd64/README.md
  images/cypres9.4.1-arm64/Dockerfile
  images/cypres9.4.1-arm64/README.md
Due: echo prettier --write --parser markdown, echo git add

WIP
  packages/pepe/package.json
  packages/pepe/src/commands/find-dependents.ts
  packages/pepe/src/commands/send-report.ts
  packages/pepe/src/commands/transform-report.ts
Due: echo eslint --fix, echo prettier --write

feat(dependents): add exact flag, fix unresolved semver range
  packages/pepe/src/commands/find-dependents.ts
Due: echo eslint --fix, echo prettier --write

wip: add analyze inside components
  packages/pepe/src/commands/find-components.ts
  packages/pepe/src/utils.ts
Due: echo eslint --fix, echo prettier --write

feat(components): match jsx with d-cruiser
  patches/dependency-cruiser+11.3.1.patch
Due: none

fix: publish time
  packages/pepe/src/commands/find-dependents.ts
  packages/pepe/src/commands/send-report.ts
  packages/pepe/src/utils.ts
Due: echo eslint --fix, echo prettier --write

fix: find-components
  packages/pepe/src/commands/find-components.ts
Due: echo eslint --fix, echo prettier --write

fix: ci upgrade
  .github/workflows/release.yml
  packages/pepe/src/commands/find-dependents.ts
  packages/pepe/src/commands/send-report.ts
  packages/pepe/src/utils.ts
Due: echo eslint --fix, echo prettier --write

chore: bump auto deps
  package-lock.json
  package.json
Due: none

Bump version to: v0.4.1 [skip ci]
  lerna.json
  package-lock.json
  packages/pepe/package.json
Due: none

feat: update cypress images for docker
  images/Dockerfile
  images/README.md
Due: echo prettier --write --parser markdown, echo git add

feat: update Cypress image to 13.17.0
  images/Dockerfile
Due: none
